@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

body {
    width: 1160px;
    margin: auto;
}
h1{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px rgb(152, 152, 208);
}
div address {
    background-color: #dbc2a4 ;
    color: #2c1d27;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


h2 {
    font-family: "Lato";
    letter-spacing: 1px;
}

#text-presentation{
    text-indent: 30px;
    text-align: justify;
}

h3 {
    background-color: #dbc2a4;
}

header{
    box-shadow: 5px 5px 5px;
    background-color: #782221;
    color: #dbc2a4;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

figure {
    width: 150px;
    height: 150px;
}

#photo_profil img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px #dbc2a4;
    
}
#photo_profil img:hover{
    cursor: zoom-in;
}

a {
    text-decoration: none;
    color: #001a5f;
    font-family: "Lato", sans-serif
}


a:hover {
    text-decoration: underline;
}

.cv-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "column-1 column-2 column-2";
}

.column-1 {
    grid-area: column-1;
}

.column-2 {
    grid-area: column-2;
}

div {
    border-width: 2px;
    border-style: solid;
    border-color: #782221;
    font-family: "Lato", sans-serif
}

div .column-2 {
    color: #2c1d27;
    list-style-image: url(../image/tick-clair.png);
    /* SAUT DE LIGNE A CHECKER */
    line-height: 2;
    
}
div .column-1 {
    background-color: #782221;
    color: white;
    list-style-image: url(../image/tick-foncé.png);
    line-height: 2;
}
.cv-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    
}

footer {
    background-color: #782221;
}

.element-liste { 
    list-style-image: url(../image/tiret-liste2.png);
}

#logo_linkedin img {
    width: 30px;
    height: 30px;
}

#logo_twitter img {
    width: 30px;
    height: 30px;
}

.opacity:hover {
    opacity: 0.2;
  }

